# stg: use ONLY the token for the instantly-stg Hetzner project.
export HCLOUD_TOKEN=''
export CLOUDFLARE_API_TOKEN=''

# Hetzner instantly-stg project: Security > S3 Credentials
export MINIO_USER='' # S3 Access Key
export MINIO_PASSWORD='' # S3 Secret Key
